body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: linear-gradient(45deg, rgba(248,219,32,1) 0%, rgba(255,255,255,1) 50%, rgba(47,100,214,1) 100%);
  background-attachment: fixed;
}

.bgImage{
  width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.platform-dropdown {
  margin-top: 2rem;
  margin-left: 2rem;
  position:absolute !important;
  top:0;
  left:0;
}

.disney-button{
  color: #fff;
  background-color: #113ccf !important;
  border-color: #0a58ca;
}

.disney-button:hover{
  color: #fff;
  background-color: #0b5ed7 !important;
  border-color: #0a58ca;
}

.star-button{
  color: #fff;
  background-color: #d44e14!important;
  border-color: #d44e14 !important;
}
.star-button:hover{
  color: #fff;
  background-color: #b63c08!important;
  border-color: #b14111 !important;
}



.input_wrapper{
  width: 75px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.input_wrapper input[type="checkbox"]{
  width: 80px;
  height: 40px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #315e7f;
  border-radius: 2px;
  position: relative;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.input_wrapper input[type="checkbox"]:after{
  position: absolute;
  content: attr(data-after-content);
  text-align: center;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: #dfeaec;
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: all .35s;
  transition: all .35s;
  padding-left: .1rem;
  padding-top: .25rem;
}

.input_wrapper svg{
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  fill: #fff;
  -webkit-transition: all .35s;
  transition: all .35s;
  z-index: 1;
}

.input_wrapper .is_checked{
  width: 18px;
  left: 18%;
  -webkit-transform: translateX(190%) translateY(-30%) scale(0);
          transform: translateX(190%) translateY(-30%) scale(0);
}

.input_wrapper .is_unchecked{
  width: 15px;
  right: 10%;
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

/* Checked State */
.input_wrapper input[type="checkbox"]:checked{
  background: #23da87;
}

.input_wrapper input[type="checkbox"]:checked:after{
  left: calc(100% - 37px);
}

.input_wrapper input[type="checkbox"]:checked + .is_checked{
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
  -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
          transform: translateX(-190%) translateY(-30%) scale(0);
}

/* Switch 4 Specific Style End */